<head>

  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Basic Vue Js - HelloWorld App</title>



  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->

  <!-- Using via Google Web Fonts -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />



  <!-- https://tailwindcss.com/docs/installation -->

  <!-- Using Tailwind via CDN -->

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />



  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->

  <!-- Vue CDN -->

  <script src="https://unpkg.com/vue@next"></script>





</head>

<body>
  <div id="app">
    <div class="  py-8 w-full flex justify-center items-center bg-yellow-200  ">
      <div class="  rounded w-4/6 shadow     bg-yellow-500    ">

        <div class="flex flex-row justify-between uppercase font-bold text-blue-dark border-b-2 p-6  bg-yellow-700">
          <p class="mx-auto font-bold text-3xl">Dog Gallery <p>
        </div>

        <div class="border flex   ">
          <div class="flex text-lg font-bold text-pink-500 mt-4 ml-10 ">
            <span class="material-icons mx-2">
              favorite
            </span>
            <p class=" ">favorite ({{countLove}})</p>

            <div class="flex items-center ml-10 lg:ml-80">



              <div class="flex ">
                <input v-model="search" placeholder="search" class="p-2 bg-white rounded border-2 border-blue-300"  v-show="" />
                <button class=" focus:outline-none" >
                  <i class="material-icons  ">
                    search
                  </i>
                </button>

                <button class="border p-2 bg-red-600 rounded-full focus:outline-none ">
                  cancel
                </button>
              </div>

            </div>

          </div>



        </div>

        <div class="p-6 text-grey-darker text-center flex flex-col  ">

          <li v-for="(task,index) in query" class="list-none  ">

            <div class="text-grey-darker text-lg font-medium flex justify-center ">
              {{task.title}}
              <button class=" focus:outline-none text-pink-500 " v-on:click="toggleLike(index)">

                <i class="material-icons ml-2  transform hover:scale-125 " v-show="task.lovebor">
                  favorite_border
                </i>

                <i class="material-icons ml-2 transform hover:scale-125" v-show="task.lovebold">
                  favorite
                </i>

              </button>
            </div>

            <img v-bind:src="task.src" v-on:click="toggleShow(index)"
              class="w-64 flex self-center rounded-full shadow-lg mb-6 b-10 border-yellow-400 border-8 m-4  mx-auto transform hover:scale-110">


            <div class="flex ml-5 " v-show="task.showdetail  ">
              <p class="text-grey-darker mx-auto mb-4 bg-yellow-100 rounded-full transform hover:scale-105">
                {{task.detail}}
              </p>


            </div>



          </li>
        </div>

      </div>
    </div>
  </div>










  <!-- my main.js -->

  <script src="./main.js"></script>

</body>